<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SourceIT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateTour</display-name>
    <servlet-name>CreateTour</servlet-name>
    <servlet-class>servlets.CreateTour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTour</servlet-name>
    <url-pattern>/CreateTour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlets.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTour</display-name>
    <servlet-name>UpdateTour</servlet-name>
    <servlet-class>servlets.UpdateTour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTour</servlet-name>
    <url-pattern>/UpdateTour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrder</display-name>
    <servlet-name>CreateOrder</servlet-name>
    <servlet-class>servlets.CreateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrder</servlet-name>
    <url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrder</display-name>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>servlets.UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIdServlet</display-name>
    <servlet-name>UserIdServlet</servlet-name>
    <servlet-class>servlets.UserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIdServlet</servlet-name>
    <url-pattern>/UserIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>servlets.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTour</display-name>
    <servlet-name>DeleteTour</servlet-name>
    <servlet-class>servlets.DeleteTour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTour</servlet-name>
    <url-pattern>/DeleteTour</url-pattern>
  </servlet-mapping>
</web-app>